body{
	margin: 0px auto;
	width: 100%;
}
nav a{
	list-style-type: none;
	float: left;
	padding-right: 25px;
	color: #fff;
	text-shadow: 5px 5px 2px rgb(37, 36, 36);
}
nav{
	float: right;
    width: 100%;
    height: 50px;
    background-color: #523906;
    position: fixed;
}
div{
    background-color: #62760c;
}
.home{
    background-color: #cdb30c;
    text-align: center;
    font-size: 30px;
    padding: 150px;
}
.home img{
    margin: 20px;
    width: 300px;
    height: auto;
}
.about{
    background-image: url('https://cdn.hipwallpaper.com/i/0/0/EPqvQ8.jpg');
    color: white;
    height: 100vh;
    width: 100%;
    display:table-cell;
    vertical-align: middle;
    background-size: cover;
}
.about h1,.education h1,.skills h1,.hobbies h1,.contacts h1{
    font-size: 50px;
}
.about p{
    padding-right: 700px;
    font-size: 30px;
}
.education{
    height: 100vh;
    width: 100%;
}
.education div{
    float: left;
    padding: 50px;
    display: 100%;
    text-align: centre;
    margin: 0px;
}
.education div img,.skills div img{
    width: 200px;
    height: auto;
}
.education div h2{
    font-size: 30px;
}
.education div p{
    font-size: 20px;
}
.skills{
    background-color: #523906;
    height: 100vh;
    width: 100%;
}
.skills div{
    float: left;
    padding: 150px;
    display: 100%;
    text-align: center;
    margin: 0px;
    background-color: #523906;
    
}
.skills div ul li,.hobbies .inner div div p{
    list-style-type: none;
    font-size: 20px;
}
.hobbies{
    background-color: #cdb30c;
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: 100%;
    margin: 0px;
    padding-top: 20px;
}
.hobbies .inner{
    background-color: #cdb30c;
}
.hobbies .inner div{
    display: table-cell;
    vertical-align: middle;
    background-color: #cdb30c;
    float: left;
    padding: 90px;
}
.hobbies .inner div div img{
    width: 150px;
    height: auto;
}
.contacts{
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding-top: 20px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.contacts .inner {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding-left: 150px;
}
.fa{
	padding: 20px;
    font-size: 50px;
    width: 30px;
    height: auto;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-github{
	background: black;
	color: white;
}
.fa-linkedin{
	background: #0e76a8;
	 color: white;
}
.fa-google{
	background-color: #dd4b39;
	color: white; 
}
.fa-whatsapp{
	background-color: #25d366;
	color: white;
}
.fa-mobile{
	background-color: #3B5998;
	color: white;
}
.null{
	background-color: #523906;
	padding-top: 1px;
	padding-bottom: 1px;
	color: #fff;
	text-align: center;
}
